
html {
  background-color: rgb(247, 247, 239);
  width: 1000px;
  margin-left: 100px;
  margin-right: 100px;
}

#logo {
float: left;
padding-right: 14px;

}
h1 {
padding-top: 75px;
font-size: 60px;
font-family: 'Acme', sans-serif;
font-weight: bold;

}
h2, .print {
font-family: 'Noto Serif SC', serif;
color: grey;
}


header {
padding-bottom: 50px;
padding-top: 50px;
border-bottom: 10px solid grey;

}

#title {
  font-family: 'Charmonman', cursive;
  font-size: 35px;
  font-weight: bold;
  font-style: italic
}
#titletwo {
color: grey;
font-size: 12px;
font-family: 'Noto Serif SC', serif;

}

#listbg.container {
  margin-top: 30px;
  width: 1000px;

}
.little-icons  {

  float: right;
  margin-top: -30px;
}

.print {
  float: right;
  padding-right: 4px;
}

.hero  {
  width: 1000px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}
p {
  font-family: 'Playfair Display', serif;
  margin: 0 auto;
  text-indent: 20px;
  color: #898979;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top:20px;

}
.container {
  
}

.left-margin {
  margin-left:7.5px;
}

ul {
list-style: square;
list-style-position: inside;
font-family: 'Gloria Hallelujah', cursive;
}


#vanessa {
  border-radius: 100px;
}
#vantitle, {
font-family: 'Raleway', sans-serif;

}

#vanwords {
font-family: 'Raleway', sans-serif;

}

#smalllogo {

 margin-left: auto;
 margin-right: auto;
}
